[submodule "libopencm3"]
	path = libopencm3
	url = https://github.com/libopencm3/libopencm3.git
	branch = master
[submodule "flashrom"]
	path = flashrom
	url = ssh://review.coreboot.org:29418/flashrom
	branch = staging
